.About {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-self: center;
  }
  

.member-names {
    list-style-type: none;
}