.App {
  text-align: center;
  display: grid;
  grid-template-rows: auto auto auto;
  list-style-position: inside;
}

.App-header {
  background-color: #282c34;
  min-height: 175px;
  max-height: 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: darkred;
}

link.App-header:visited {
  color: darkred;
}

.Body {
  min-height: 500px;
  max-height: 80%;
}

.About {
  min-height: 500px;
  max-height: 80%;  
}

.App-footer {
  background-color: #282c34;
  min-height: 100px;
  max-height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}