.App {
  list-style-position: inside;
  display: grid;
  grid-template-rows: auto auto auto;
  position: relative;
  min-height: 100vh;
  background-color: #bfc5da;
}

.App-header {
  background-color: #282c34;
  max-height: 15vh;
  grid-row: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
}

.Body {
  color: #703149;
  font-family: Roboto;
  font-weight: 700;
}

.App-footer {
  background-color: #282c34;
  grid-row: -1;
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 15px;
  color: grey;
}